{% extends 'base.html' %}

{% block titulo %} login {% endblock %}

{% block varnav%}
<nav class="navbar navbar-inverse" style="background-color: rgb(02,49,59);width: 100%; position: flex; margin-top:5px">
{% endblock %}

{% block propio %}
<center>
	<h1 class="text-center">Iniciar Secion</h1>
	<br>
<form method='POST'>
	{% csrf_token%}
	{{form.as_p}}
	<div class="form-group">
		<a href="#">Ovide mi Contraseña</a>
		<input type="submit" name="Guardar" value="Iniciar" class="btn btn-danger">
	</div>
	
</form>
</center>

{% endblock %}