{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block titulo %} Home {% endblock %} </title>
  <meta name="keywords" content="liceo Minerva, colegio liceo  Minervan, minerva, San pedro Sacatepequez San Marcos">
  <meta name="description" content="Pagina web del colegio liceo Minerva">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>

	<script src="{% static 'bootstrap/js/bootstrap.js '%}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

</head>
<body>

{% block varnav %}
	<nav class="navbar navbar-inverse" style="background-color: rgba(02,49,59);width: 100%;margin:0px auto; position: fixed; margin-top: 5px;" >
{% endblock %}

    <div class="navbar-header">
      <span class="titulo2">Menu</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" >
        
        <li class="nav-item"><a class="nav-link" href="{% url 'app1:Inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app1:login' %}">Administracion</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app1:Galeria' %}">Galeria</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app1:Informacion' %}">Informacion</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app1:Acerca' %}">Acerca de</a></li>

      </ul>
    </div>
  </div>
</nav>

  {% block footer %}

  <footer style="background-color: rgba(02,49,59, .9); width: 100%; position: absolute; bottom: 0">
  Todos los derechos reservados &copy; 2019
  <a style="float: right;" href="facebook.com">Siguenos en Facebook</a>Tel:<em>53292831</em>

</footer>
{% endblock %}

  {% block propio %}
  {% endblock %}


</body>
</html>