{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
<center>
	<form class="navbar-search" method="post" action="#" style="margin: 10px">
		{% csrf_token %}
		<input type="text" class="search-query" placeholder="Buscar" name="buscar">
		<input type="submit" class="btn btn-primary"  value="Buscar">
	</form>
</center>
<table class="table table-hover table-responsive table-bordered" style="margin: 0px auto; width: 99%">
	<thead>
		<tr>
			<th scope="col">Nota</th>
			<th scope="col">Curso</th>
			<th scope="col">Carrera</th>
			<th scope="col">Docente</th>
			<th scope="col">Estudiante</th>
			<th scope="col">Grado</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}

		{% for Notas in object_list %}

		<tr>
			<th scope="row">{{Notas.nota}}</th>
			<td>{{Notas.idcurso}}</td>
			<td>{{Notas.idcarrera}}</td>
			<td>{{Notas.iddocente}}</td>
			<td>{{Notas.idestudiante}}</td>
			<td>{{Notas.idgrado}}</td>

			<td>
				<a class="btn btn-primary" href="{% url 'app2:ActualizarNotas' Notas.id %}">Actualizar</a>
			</td>
		</tr>

		{% endfor %}
		{% else %}
		<h1>No hay registros</h1>
		{% endif%}
	</tbody>
</table>

<center>
	<a class="btn btn-danger" href="{% url 'app2:Administrar' %}" style="margin: 15px">Volver</a>
</center>

</body>
</html>